@tailwind base;
@tailwind components;
@tailwind utilities;

.react-tel-input .form-control {
  @apply !w-full py-6 !text-xl font-normal text-textMain;
}

.otp-container {
  @apply w-full justify-center gap-5;
}

.otp-input {
  @apply !w-16 rounded-md border border-indigo-500 px-1 py-3 text-left text-xl;
}

@layer components {
  .screenActive {
    color: #315796;
    border-bottom: 4px solid #315796;
  }

  .bgLinear {
    background: linear-gradient(90deg, #315796 0%, rgba(49, 87, 150, 0.8) 100%);
  }

  .headerBgLinear {
    background: linear-gradient(
      0.53deg,
      rgba(75, 113, 255, 0) 0.25%,
      rgba(107, 137, 248, 0.4) 84.77%
    );
  }

  .contactBgLinear {
    background: linear-gradient(
      100.99deg,
      #315796 8.13%,
      rgba(49, 87, 150, 0.8) 91.87%
    );
  }
}

@layer base {
  html {
    font-family: Montserrat, system-ui, sans-serif;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
